DATABASE_URL=postgresql://postgres:postgres@localhost:5433/restaurants
TEST_DATABASE_URL=postgresql://postgres:postgres@localhost:5433/restaurants_test
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_DEPLOYMENT=
AZURE_OPENAI_API_VERSION=2024-10-21
